node_modules
/public/hot
/public/storage
/vendor
/storage/*.key
.env
*.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/sass/**/*.css
/public/**/*.js.map
*.bu.php
.phpunit.result.cache
_notes
.phpintel
.vscode
index-bk.vue
.env-live
